@import '~@fluentui/react/dist/sass/References.scss';

.simpleAnalytics {
  overflow: hidden;
  padding: 1em;
  color: '[theme:bodyText, default: #323130]';
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
  a {
    text-decoration: none;
    color: '[theme:link, default:#03787c]';
    color: var(
      --link
    ); 

    &:hover {
      text-decoration: underline;
      color: '[theme:linkHovered, default: #014446]';
      color: var(
        --linkHovered
      ); 
    }

    &:active {
      color: '[theme:linkPressed, default: #005e5c]';
      color: var(
        --linkPressed
      ); 
    }

    &:focus {
      color: '[theme:linkHovered, default: #014446]';
      color: var(
        --linkHovered
      ); 
    }

    &:visited {
      color: '[theme:link, default:#03787c]';
      color: var(
        --link
      ); 
    }
  }
}

.flexAlign {
  align-items: center;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.bold {
  font-weight: bold;
}

.siteheader {
  margin-bottom: 2px;
}

.path {
  font-size: 11px;
  margin-bottom: 5px;
}

.dropdown {
  min-width: 150px;
}
.siteRow{
  border-top: 1px solid lightgray;
}
.siteData{}
.siteInfo{
  display: 'flex';
  flex-direction: 'column';
  min-width: '200px';
  border-right: 1px solid lightgray;
  padding-right: 10px;
  padding-bottom: 10px;
  min-width: 200px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  tr {
    border-bottom: 1px solid var(--neutralLight);
    border-bottom: 1px solid '[theme:neutralLight, default: #edebe9]';
    &:last-child {
      border-bottom: none;
    }
  }
  th {
    padding: 10px;
    text-align: center; 
    border-bottom: 1px solid var(--neutralLight);
    border-bottom: 1px solid '[theme:neutralLight, default: #edebe9]';
  }
  td {
    padding: 10px;
    text-align: center; 
    border-bottom: 1px solid var(--neutralLight);
    border-bottom: 1px solid '[theme:neutralLight, default: #edebe9]';
  }
}
